<% provide(:title, "Home") %>


<div class="center jumbotron">
  <h1>SydeDoor</h1>

  <h2>
    Hey! Welcome to SydeDoor.
  </h2>

  <% if logged_in? %>
  	<%= link_to "Find Companies", "#", class: "btn btn-lg btn-primary" %>
  	<%= link_to "Look at Reviews", reviews_path, class: "btn btn-lg btn-primary" %>
  	<%= link_to "Write a Review", new_review_path, class: "btn btn-lg btn-primary" %>
  <% else %>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
