<% provide(:title, @company) %>
<div class="row">
  <aside class="col-md-4">
    <section class="company_info">
      Company Name: <%= @company.name %>
      Company Description: <%= @company.description %>
      Company Website: <%= @company.website %>
    </section>
  </aside>
</div>
