<% provide(:title, "All Reviews") %>
<h1>All Reviews</h1>

<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      Job Title: <%= link_to review.job_title, review %><br/>
      Company: <%= review.company.name %><br/>
      Reviewer: <%= review.user.first_name %>
    </li>
  <% end %>
</ul>
